			{% load static %}
            <!DOCTYPE html>
			<html lang="en">
			<head>
			  <meta charset="UTF-8">
			  <title>Home</title>
              <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
			</head>
			<body class="bg-white-950 text-red-300">
              {% load django_browser_reload %}
			  <div class="text-center mt-20">
			    <h1 class="text-4xl font-bold text-blue-600">Dashce Interaction</h1>
			    <p class="mt-4 text-lg">Course Viewer</p>
			  </div>
			</body>
			</html>